# Ignorar entornos virtuales
app/venv/
.env/
env/
.venv/

# Carpetas de Python
__pycache__/
*.pyc
*.pyo

# Ignorar directorios grandes innecesarios
app/Lib/
app/Include/
app/Scripts/
app/bin/
app/obj/
app/out/

# Ignorar configuración personal
.idea/
.vscode/
*.log
